<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="de.uni_mannheim.swt.codeconjurer"
            name="%code_conjurer.name">
      </category>
      <view
            allowMultiple="false"
            category="de.uni_mannheim.swt.codeconjurer"
            class="de.uni_mannheim.swt.codeconjurer.ui.view.ResultView"
            icon="icons/code_conjurer_m.png"
            id="de.uni_mannheim.swt.codeconjurer.views.ResultView"
            name="%reuse_view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         id="de.uni_mannheim.swt.codeconjurer"
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%cc_activate.description"
            id="de.uni_mannheim.swt.codeconjurer.actionSet"
            label="%cc_activate.label"
            visible="true">
         <menu
               id="reuseMenu"
               label="%merobase_menu.label">
            <groupMarker
                  name="techGroup">
            </groupMarker>
            <groupMarker
                  name="uiGroup">
            </groupMarker>
            <separator
                  name="searchGroup">
            </separator>
         </menu>
         <action
               class="de.uni_mannheim.swt.codeconjurer.ui.controller.ActivatorButton"
               icon="icons/code_conjurer_m.png"
               id="de.uni_mannheim.swt.codeconjurer.UseAgentAction"
               label="%use_agent.label"
               menubarPath="reuseMenu/techGroup"
               state="false"
               style="toggle"
               toolbarPath="techGroup"
               tooltip="%reuse_agent.tooltip">
         </action>
         <action
               class="de.uni_mannheim.swt.codeconjurer.ui.controller.PerformSearch"
               id="de.uni_mannheim.swt.codeconjurer.SearchAction"
               label="%search_code.label"
               menubarPath="reuseMenu/searchGroup"
               style="push">
         </action>
         <action
               class="de.uni_mannheim.swt.codeconjurer.ui.controller.ShowReuseView"
               id="de.uni_mannheim.swt.codeconjurer.ShowRecommendationsViewAction"
               label="%show_recommendations_view.label"
               menubarPath="reuseMenu/uiGroup"
               tooltip="%show_recommendations_view.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut
               id="de.uni_mannheim.swt.codeconjurer.views.ResultView">
         </viewShortcut>
         <view
               closeable="true"
               id="de.uni_mannheim.swt.codeconjurer.views.ResultView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.pde.runtime.LogView"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.uni_mannheim.swt.codeconjurer.ui.preferences.CodeConjurerPreferences"
            id="de.uni_mannheim.swt.codeconjurer.preferences.CodeConjurerPreferences"
            name="%page.name">
      </page>
   </extension>
   <extension
         id="de.uni_mannheim.swt.codeconjurer.preferences.Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.uni_mannheim.swt.codeconjurer.domain.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
